.btn {
  border-width: 2px;
}
body {
  font-family: Atkinson Hyperlegible;
}
.display-1 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 10rem;
}
.display-2 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 4.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-4 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 2.5rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.6rem;
    font-size: calc( 3.45rem + (8 - 3.45) * ((100vw - 26rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.45rem + (8 - 3.45) * ((100vw - 26rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fa7e26 !important;
}
.bg-success {
  background-color: #189d8b !important;
}
.bg-info {
  background-color: #2655a6 !important;
}
.bg-warning {
  background-color: #413e65 !important;
}
.bg-danger {
  background-color: #ce4909 !important;
}
.btn-primary,
.btn-primary:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #db6f1c 0, #d04b08 100%) !important;
  border: 1px solid #fa7e26 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(227, 118, 41, 0.35);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #db6f1c 0, #d04b08 100%) !important;
  box-shadow: 0 6px 40px #e37629;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c55405 !important;
  border-color: #fa7e26 !important;
}
.btn-secondary,
.btn-secondary:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #db9a1c 0, #d07808 100%) !important;
  border: 1px solid #faae26 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(227, 160, 41, 0.35);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #db9a1c 0, #d07808 100%) !important;
  box-shadow: 0 6px 40px #e3a029;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c58005 !important;
  border-color: #faae26 !important;
}
.btn-info,
.btn-info:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #2d4776 0, #1b3e6a 100%) !important;
  border: 1px solid #2655a6 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(52, 81, 132, 0.35);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #2d4776 0, #1b3e6a 100%) !important;
  box-shadow: 0 6px 40px #345184;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #16315f !important;
  border-color: #2655a6 !important;
}
.btn-success,
.btn-success:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #1f6d64 0, #105d4d 100%) !important;
  border: 1px solid #189d8b !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(37, 124, 112, 0.35);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #1f6d64 0, #105d4d 100%) !important;
  box-shadow: 0 6px 40px #257c70;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0d5248 !important;
  border-color: #189d8b !important;
}
.btn-warning,
.btn-warning:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #3a3941 0, #242437 100%) !important;
  border: 1px solid #413e65 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(68, 68, 75, 0.35);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #3a3941 0, #242437 100%) !important;
  box-shadow: 0 6px 40px #44444b;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #1e1d2f !important;
  border-color: #413e65 !important;
}
.btn-danger,
.btn-danger:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #974317 0, #872708 100%) !important;
  border: 1px solid #ce4909 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(168, 73, 27, 0.35);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #974317 0, #872708 100%) !important;
  box-shadow: 0 6px 40px #a8491b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #7b2c05 !important;
  border-color: #ce4909 !important;
}
.btn-white,
.btn-white:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #ced6df 0, #b3cbdc 100%) !important;
  border: 1px solid #e3ebf3 !important;
  color: #416b96 !important;
  box-shadow: 0 6px 30px rgba(218, 225, 231, 0.35);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #ced6df 0, #b3cbdc 100%) !important;
  box-shadow: 0 6px 40px #dae1e7;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #416b96 !important;
  background-color: #a6c0d9 !important;
  border-color: #e3ebf3 !important;
}
.btn-black,
.btn-black:active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #090909 0, #000000 100%) !important;
  border: 1px solid #1a1e21 !important;
  color: #ffffff !important;
  box-shadow: 0 6px 30px rgba(19, 19, 19, 0.35);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  background: radial-gradient(50% 895.56% at 47.69% 50%, #090909 0, #000000 100%) !important;
  box-shadow: 0 6px 40px #131313;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #1a1e21 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #fa7e26;
  color: #fa7e26;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c55405 !important;
  background-color: transparent!important;
  border-color: #c55405 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fa7e26 !important;
  border-color: #fa7e26 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #faae26;
  color: #faae26;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c58005 !important;
  background-color: transparent!important;
  border-color: #c58005 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #faae26 !important;
  border-color: #faae26 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #2655a6;
  color: #2655a6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #16315f !important;
  background-color: transparent!important;
  border-color: #16315f !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2655a6 !important;
  border-color: #2655a6 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #189d8b;
  color: #189d8b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0d5248 !important;
  background-color: transparent!important;
  border-color: #0d5248 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #189d8b !important;
  border-color: #189d8b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #413e65;
  color: #413e65;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #1e1d2f !important;
  background-color: transparent!important;
  border-color: #1e1d2f !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #413e65 !important;
  border-color: #413e65 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #ce4909;
  color: #ce4909;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #7b2c05 !important;
  background-color: transparent!important;
  border-color: #7b2c05 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ce4909 !important;
  border-color: #ce4909 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #1a1e21;
  color: #1a1e21;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1a1e21 !important;
  border-color: #1a1e21 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #e3ebf3;
  color: #e3ebf3;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #a6c0d9 !important;
  background-color: transparent!important;
  border-color: #a6c0d9 !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #416b96 !important;
  background-color: #e3ebf3 !important;
  border-color: #e3ebf3 !important;
}
.text-primary {
  color: #fa7e26 !important;
}
.text-secondary {
  color: #faae26 !important;
}
.text-success {
  color: #189d8b !important;
}
.text-info {
  color: #2655a6 !important;
}
.text-warning {
  color: #413e65 !important;
}
.text-danger {
  color: #ce4909 !important;
}
.text-white {
  color: #e3ebf3 !important;
}
.text-black {
  color: #1a1e21 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #b64e04 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b67604 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0a453d !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #132a53 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #181726 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #6c2605 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #9cb8d4 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fa7e26;
}
.nav-tabs .nav-link:not(.active) {
  color: #1a1e21;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2655a6;
}
.alert-warning {
  background-color: #413e65;
}
.alert-danger {
  background-color: #ce4909;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fa7e26;
  border-color: #fa7e26;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #fa7e26;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff5ed;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #50e4d0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #6e97de;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #7b77ac;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fbc3a8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fa7e26 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #fa7e26;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fa7e26;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fa7e26;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fa7e26;
  border-bottom-color: #fa7e26;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fa7e26 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #faae26 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fa7e26' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: .3s all;
}
a:hover {
  background-image: none !important;
}
.container {
  max-width: 1670px;
  padding-left: 16px;
  padding-right: 16px;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .container-fluid,
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
.row {
  justify-content: center;
}
b,
strong {
  font-weight: 700 !important;
}
.border-item {
  border-radius: 60px;
  overflow: hidden;
}
@media (max-width: 1399px) {
  .border-item {
    padding: 20px !important;
    border-radius: 40px;
  }
}
@media (max-width: 991px) {
  .border-item {
    border-radius: 12px;
  }
}
.mbr-section-btn .btn {
  position: relative;
  min-width: 160px;
  min-height: 46px;
  padding: 20px 25px;
  border-radius: 6px;
  font-weight: 400 !important;
  line-height: 1.1 !important;
  transition: all .3s;
}
.mbr-section-btn .btn-black {
  background: #1a1e21 !important;
  border: 2px solid #1a1e21 !important;
  box-shadow: none !important;
}
.mbr-section-btn .btn-black:hover {
  background: transparent !important;
  border-color: #e3ebf3 !important;
}
.mbr-section-btn .btn-white-outline:hover {
  background: #fa7e26 !important;
  border-color: #fa7e26 !important;
  color: #e3ebf3 !important;
}
.cid-ty20H9zv1J {
  z-index: 1000;
  width: 100%;
}
.cid-ty20H9zv1J nav.navbar {
  position: fixed;
}
.cid-ty20H9zv1J .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ty20H9zv1J .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #1a1e21 !important;
}
.cid-ty20H9zv1J .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-ty20H9zv1J .dropdown-item:hover,
.cid-ty20H9zv1J .dropdown-item:focus {
  background: #fa7e26 !important;
  color: white !important;
}
.cid-ty20H9zv1J .dropdown-item:hover span {
  color: white;
}
.cid-ty20H9zv1J .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-ty20H9zv1J .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-ty20H9zv1J .nav-drop .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-ty20H9zv1J .nav-drop .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-ty20H9zv1J .nav-link {
  position: relative;
}
.cid-ty20H9zv1J .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-ty20H9zv1J .container {
    flex-wrap: nowrap;
  }
}
.cid-ty20H9zv1J .nav-item:focus,
.cid-ty20H9zv1J .nav-link:focus {
  outline: none;
}
.cid-ty20H9zv1J .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-ty20H9zv1J .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-ty20H9zv1J .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-ty20H9zv1J .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-ty20H9zv1J .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-ty20H9zv1J .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-ty20H9zv1J .navbar {
  min-height: 70px;
  transition: .4s all !important;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  padding: 10px 20px !important;
  border: none !important;
}
.cid-ty20H9zv1J .navbar.opened {
  transition: all 0.3s;
}
.cid-ty20H9zv1J .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-ty20H9zv1J .navbar .navbar-logo img {
  width: auto;
}
.cid-ty20H9zv1J .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-ty20H9zv1J .navbar.collapsed {
  justify-content: center;
}
.cid-ty20H9zv1J .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-ty20H9zv1J .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-ty20H9zv1J .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.4rem);
  }
}
.cid-ty20H9zv1J .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-ty20H9zv1J .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-ty20H9zv1J .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-ty20H9zv1J .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-ty20H9zv1J .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-ty20H9zv1J .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-ty20H9zv1J .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-ty20H9zv1J .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-ty20H9zv1J .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-ty20H9zv1J .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-ty20H9zv1J .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-ty20H9zv1J .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-ty20H9zv1J .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-ty20H9zv1J .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-ty20H9zv1J .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-ty20H9zv1J .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-ty20H9zv1J .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-ty20H9zv1J .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-ty20H9zv1J .navbar-brand {
  min-height: 46px !important;
  flex-shrink: 0;
  align-items: center;
  margin-right: auto;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  font-weight: 500 !important;
}
.cid-ty20H9zv1J .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 500 !important;
}
.cid-ty20H9zv1J .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-ty20H9zv1J .navbar-brand .navbar-logo {
  position: relative;
  margin-right: 0.6rem !important;
  padding-right: 0.6rem !important;
}
.cid-ty20H9zv1J .navbar-brand .navbar-logo:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  opacity: 0.8;
  background-color: #e3ebf3;
}
.cid-ty20H9zv1J .dropdown-item.active,
.cid-ty20H9zv1J .dropdown-item:active {
  background-color: transparent;
}
.cid-ty20H9zv1J .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-ty20H9zv1J .nav-drop .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-ty20H9zv1J .nav-drop .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-ty20H9zv1J .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #1a1e21;
}
.cid-ty20H9zv1J .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-ty20H9zv1J .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-ty20H9zv1J ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-ty20H9zv1J .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-ty20H9zv1J button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-ty20H9zv1J button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #e3ebf3;
}
.cid-ty20H9zv1J button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-ty20H9zv1J button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ty20H9zv1J button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-ty20H9zv1J button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-ty20H9zv1J .navbar-toggler-close {
  position: absolute!important;
  right: 90px!important;
  top: 90px!important;
  height: 32px!important;
  width: 32px!important;
  cursor: pointer;
}
@media (max-width: 1439px) {
  .cid-ty20H9zv1J .navbar-toggler-close {
    top: 50px!important;
    right: 50px!important;
    height: 26px!important;
    width: 26px!important;
  }
}
@media (max-width: 767px) {
  .cid-ty20H9zv1J .navbar-toggler-close {
    top: 50px!important;
    right: 20px!important;
    height: 16px!important;
    width: 16px!important;
  }
}
.cid-ty20H9zv1J .navbar-toggler-close span {
  width: 100% !important;
  height: 2px!important;
  top: 50%!important;
}
.cid-ty20H9zv1J .navbar-toggler-close span:nth-child(1) {
  display: none;
}
.cid-ty20H9zv1J .navbar-toggler-close span:nth-child(2) {
  transform: translateY(-50%) rotate(45deg);
}
.cid-ty20H9zv1J .navbar-toggler-close span:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}
.cid-ty20H9zv1J .navbar-toggler-close span:nth-child(4) {
  display: none;
}
.cid-ty20H9zv1J .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-ty20H9zv1J a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ty20H9zv1J .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-ty20H9zv1J .navbar {
    height: 70px;
  }
  .cid-ty20H9zv1J .navbar.opened {
    height: auto;
  }
  .cid-ty20H9zv1J .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-ty20H9zv1J .container-fluid {
  padding: 5px 32px !important;
  border-radius: 100px;
  column-gap: 12px;
  background: #1a1e21;
}
.cid-ty20H9zv1J .navbar-collapse {
  margin-left: auto;
}
.cid-ty20H9zv1J .navbar-nav {
  justify-content: flex-end;
  overflow: hidden;
  border: none;
}
.cid-ty20H9zv1J .navbar-nav .nav-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-ty20H9zv1J .navbar-nav .nav-link {
  margin: 0 !important;
  border-radius: 90px;
  padding: 10px 15px !important;
  transition: all .4s;
}
.cid-ty20H9zv1J .mbr-section-btn .btn {
  position: relative;
  min-width: 160px;
  min-height: 46px;
  padding: 14px 20px;
  border-radius: 6px;
  font-weight: 400 !important;
  line-height: 1.1 !important;
  transition: all .3s;
}
@media (max-width: 991px) {
  .cid-ty20H9zv1J .navbar {
    padding: 0 !important;
  }
  .cid-ty20H9zv1J .container-fluid {
    padding: 5px 20px !important;
    border-radius: 0;
    flex-wrap: nowrap;
  }
  .cid-ty20H9zv1J .navbar-brand {
    max-width: 50%;
    padding-right: 0 !important;
  }
  .cid-ty20H9zv1J .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    width: 100vw;
    max-height: 100vh !important;
    height: 100vh !important;
    margin-left: 0;
    padding: 50px;
    background-image: url("../../../assets/images/background1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .cid-ty20H9zv1J .navbar-collapse.show {
    opacity: 1;
  }
  .cid-ty20H9zv1J .navbar-nav {
    justify-content: flex-start;
    height: 100%;
    border: none;
    background: transparent;
    border-radius: 0;
    max-width: 100%;
    overflow-y: auto;
  }
  .cid-ty20H9zv1J .navbar-nav .nav-item {
    display: list-item;
    margin: 0 !important;
  }
  .cid-ty20H9zv1J .navbar-nav .nav-item .nav-link {
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: calc(6vh * 0.38) !important;
    border-radius: 0;
    font-size: 6vh !important;
    line-height: 1 !important;
    justify-content: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-ty20H9zv1J .container-fluid {
    padding: 5px 12px !important;
    column-gap: 6px;
  }
  .cid-ty20H9zv1J .navbar-collapse {
    padding: 50px 20px;
  }
  .cid-ty20H9zv1J .navbar-nav .nav-item .nav-link {
    margin-bottom: 12px !important;
    font-size: 32px !important;
  }
  .cid-ty20H9zv1J .mbr-section-btn .btn {
    min-width: 80px;
    min-height: 46px;
    padding: 10px;
  }
}
.cid-tYf3tD5AIr .modal-body .close {
  background: #1b1b1b;
}
.cid-tYf3tD5AIr .modal-body .close span {
  font-style: normal;
}
.cid-tYf3tD5AIr .carousel-inner > .active,
.cid-tYf3tD5AIr .carousel-inner > .next,
.cid-tYf3tD5AIr .carousel-inner > .prev {
  display: flex;
}
.cid-tYf3tD5AIr .carousel-control .icon-next,
.cid-tYf3tD5AIr .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-tYf3tD5AIr .carousel-control:hover {
  background: #fa7e26;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tYf3tD5AIr .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tYf3tD5AIr .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-tYf3tD5AIr .boxed-slider > div {
  position: relative;
}
.cid-tYf3tD5AIr .container img {
  width: 100%;
}
.cid-tYf3tD5AIr .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-tYf3tD5AIr .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tYf3tD5AIr .mbr-table-cell {
  padding: 0;
}
.cid-tYf3tD5AIr .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tYf3tD5AIr .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-tYf3tD5AIr .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-tYf3tD5AIr .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.cid-tYf3tD5AIr .carousel-item.active.right,
.cid-tYf3tD5AIr .carousel-item.next {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tYf3tD5AIr .carousel-item.active.left,
.cid-tYf3tD5AIr .carousel-item.prev {
  left: 0;
  transition: opacity 0.7s ease-in-out;
  opacity: 0;
}
.cid-tYf3tD5AIr .carousel-item.active,
.cid-tYf3tD5AIr .carousel-item.next.left,
.cid-tYf3tD5AIr .carousel-item.prev.right {
  left: 0;
  opacity: 1;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-control {
  top: 50%;
  margin-top: -1.9rem;
  width: 60px;
  height: 60px;
  font-size: 25px;
  border: 2px solid #fff;
  border-radius: 0 !important;
  transition: all 0.3s;
  z-index: 11;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
}
@media (max-width: 767px) {
  .cid-tYf3tD5AIr .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: #fa7e26;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators li.active,
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators li::after,
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-tYf3tD5AIr .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-tYf3tD5AIr .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-tYf3tD5AIr .mbr-slider > .container img {
  width: 100%;
}
.cid-tYf3tD5AIr .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-tYf3tD5AIr .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-tYf3tD5AIr .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tYf3tD5AIr .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-tYf3tD5AIr .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-tYf3tD5AIr .carousel-item .container.container-slide {
  position: initial;
  min-height: 0;
}
.cid-tYf3tD5AIr .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-tYf3tD5AIr .full-screen .slider-fullscreen-image.active {
  display: flex;
}
.cid-tYf3tD5AIr .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-tYf3tD5AIr .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-tYf3tD5AIr .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-tYf3tD5AIr .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-tYf3tD5AIr .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-tYf3tD5AIr H2 {
  color: #23c8c4;
}
.cid-tYfiKHVoDN {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tYfiKHVoDN .line {
  background-color: #259ecb;
  color: #259ecb;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tYfiKHVoDN .mbr-text {
  margin: 0;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .cid-tYfiKHVoDN .inner-container {
    width: 100% !important;
    padding: 0 15px;
  }
}
.cid-tYfgvQRcot {
  overflow: hidden;
  background-image: url("../../../assets/images/d57a6520.webp");
}
.cid-tYfgvQRcot .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYfgvQRcot .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYfgvQRcot .container-fluid {
  padding: 0 50px;
  margin: 0;
}
@media (max-width: 992px) {
  .cid-tYfgvQRcot .container-fluid {
    padding: 0 20px;
  }
}
.cid-tYfgvQRcot .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tYfgvQRcot .container {
    padding: 0 20px;
  }
}
.cid-tYfgvQRcot .row {
  justify-content: center;
}
.cid-tYfgvQRcot .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .cid-tYfgvQRcot .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-tYfgvQRcot .card {
  margin-bottom: 42px;
}
@media (max-width: 992px) {
  .cid-tYfgvQRcot .card {
    margin-bottom: 30px;
  }
}
.cid-tYfgvQRcot .card .card-wrapper {
  height: 100%;
}
.cid-tYfgvQRcot .card .card-wrapper .icon-wrap {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-tYfgvQRcot .card .card-wrapper .icon-wrap {
    margin-bottom: 24px;
  }
}
.cid-tYfgvQRcot .card .card-wrapper .icon-wrap .mbr-iconfont {
  font-size: 42px;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  position: relative;
}
.cid-tYfgvQRcot .card .card-wrapper .icon-wrap .mbr-iconfont::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #ffffff;
  opacity: .1;
}
.cid-tYfgvQRcot .card .card-wrapper .mbr-card-title {
  margin-bottom: 14px;
  line-height: 1.2em;
}
.cid-tYfgvQRcot .card .card-wrapper .mbr-text {
  margin-bottom: 0;
  line-height: 1.8em;
}
.cid-tYfgvQRcot .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-tYfgvQRcot .mbr-card-title {
  color: #ffffff;
}
.cid-tYfgvQRcot .mbr-text {
  color: #4b5158;
  text-align: center;
}
.cid-tYfgvQRcot .mbr-card-title,
.cid-tYfgvQRcot .icon-wrap {
  text-align: center;
  color: #000000;
}
.cid-ty22B6RxG5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2e3237;
}
.cid-ty22B6RxG5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ty22B6RxG5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ty22B6RxG5 .row {
  gap: 20px;
  margin: 0 !important;
}
.cid-ty22B6RxG5 .item {
  width: calc(50% - 10px);
  border-radius: 0;
  padding: 0;
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .item {
    width: 100%;
  }
}
.cid-ty22B6RxG5 .item-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 32px;
  border: 1px solid #2e3237;
  border-radius: 20px;
}
@media (max-width: 1399px) {
  .cid-ty22B6RxG5 .item-wrapper {
    padding: 20px;
  }
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .item-wrapper {
    border-radius: 12px;
  }
}
@media (max-width: 767px) {
  .cid-ty22B6RxG5 .item-wrapper {
    gap: 40px;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
  }
}
@media (min-width: 992px) {
  .cid-ty22B6RxG5 .item-wrapper:hover .image-wrapper img {
    transform: scale(1.1);
  }
}
.cid-ty22B6RxG5 .col-text {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .col-text {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 767px) {
  .cid-ty22B6RxG5 .col-text {
    width: 100%;
  }
}
.cid-ty22B6RxG5 .date-wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}
.cid-ty22B6RxG5 .day-text {
  color: #e3ebf3;
}
.cid-ty22B6RxG5 .month-text {
  color: #e3ebf3;
}
.cid-ty22B6RxG5 .year-text {
  color: #e3ebf3;
}
.cid-ty22B6RxG5 .card-title {
  color: #6c7a88;
}
.cid-ty22B6RxG5 .mbr-text {
  margin-top: 12px;
  color: #e3ebf3;
}
.cid-ty22B6RxG5 .mbr-section-btn {
  margin-top: 16px;
}
@media (max-width: 767px) {
  .cid-ty22B6RxG5 .mbr-section-btn {
    margin-top: 12px;
  }
}
.cid-ty22B6RxG5 .col-img {
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .col-img {
    width: 100%;
    order: 2;
  }
}
@media (max-width: 767px) {
  .cid-ty22B6RxG5 .col-img {
    width: 100%;
  }
}
.cid-ty22B6RxG5 .image-wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .image-wrapper {
    border-radius: 12px;
  }
}
.cid-ty22B6RxG5 .image-wrapper img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s all;
}
@media (min-width: 1200px) {
  .cid-ty22B6RxG5 .image-wrapper img {
    aspect-ratio: 0.68577982;
  }
}
@media (max-width: 1199px) {
  .cid-ty22B6RxG5 .image-wrapper img {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .cid-ty22B6RxG5 .image-wrapper img {
    height: 220px;
  }
}
.cid-ty22AJXlkA {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #259ecb;
}
.cid-ty22AJXlkA .mbr-fallback-image.disabled {
  display: none;
}
.cid-ty22AJXlkA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ty22AJXlkA .row {
  gap: 20px;
  margin: 0 !important;
}
.cid-ty22AJXlkA .item {
  width: calc(50% - 10px);
  border-radius: 0;
  padding: 0;
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .item {
    width: 100%;
  }
}
.cid-ty22AJXlkA .item-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 32px;
  border: 1px solid #2e3237;
  border-radius: 20px;
  flex-direction: row-reverse;
}
@media (max-width: 1399px) {
  .cid-ty22AJXlkA .item-wrapper {
    padding: 20px;
  }
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .item-wrapper {
    border-radius: 12px;
  }
}
@media (max-width: 767px) {
  .cid-ty22AJXlkA .item-wrapper {
    gap: 40px;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
  }
}
@media (min-width: 992px) {
  .cid-ty22AJXlkA .item-wrapper:hover .image-wrapper img {
    transform: scale(1.1);
  }
}
.cid-ty22AJXlkA .col-text {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .col-text {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 767px) {
  .cid-ty22AJXlkA .col-text {
    width: 100%;
  }
}
.cid-ty22AJXlkA .date-wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}
.cid-ty22AJXlkA .day-text {
  color: #e3ebf3;
}
.cid-ty22AJXlkA .month-text {
  color: #e3ebf3;
}
.cid-ty22AJXlkA .year-text {
  color: #e3ebf3;
}
.cid-ty22AJXlkA .card-title {
  color: #6c7a88;
}
.cid-ty22AJXlkA .mbr-text {
  margin-top: 12px;
  color: #e3ebf3;
}
.cid-ty22AJXlkA .mbr-section-btn {
  margin-top: 16px;
}
@media (max-width: 767px) {
  .cid-ty22AJXlkA .mbr-section-btn {
    margin-top: 12px;
  }
}
.cid-ty22AJXlkA .col-img {
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .col-img {
    width: 100%;
    order: 2;
  }
}
@media (max-width: 767px) {
  .cid-ty22AJXlkA .col-img {
    width: 100%;
  }
}
.cid-ty22AJXlkA .image-wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .image-wrapper {
    border-radius: 12px;
  }
}
.cid-ty22AJXlkA .image-wrapper img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s all;
}
@media (min-width: 1200px) {
  .cid-ty22AJXlkA .image-wrapper img {
    aspect-ratio: 0.68577982;
  }
}
@media (max-width: 1199px) {
  .cid-ty22AJXlkA .image-wrapper img {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .cid-ty22AJXlkA .image-wrapper img {
    height: 220px;
  }
}
.cid-tYeETl6TUm {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2e3237;
}
.cid-tYeETl6TUm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYeETl6TUm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYeETl6TUm .row {
  gap: 20px;
  margin: 0 !important;
}
.cid-tYeETl6TUm .item {
  width: calc(50% - 10px);
  border-radius: 0;
  padding: 0;
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .item {
    width: 100%;
  }
}
.cid-tYeETl6TUm .item-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 32px;
  border: 1px solid #2e3237;
  border-radius: 20px;
}
@media (max-width: 1399px) {
  .cid-tYeETl6TUm .item-wrapper {
    padding: 20px;
  }
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .item-wrapper {
    border-radius: 12px;
  }
}
@media (max-width: 767px) {
  .cid-tYeETl6TUm .item-wrapper {
    gap: 40px;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
  }
}
@media (min-width: 992px) {
  .cid-tYeETl6TUm .item-wrapper:hover .image-wrapper img {
    transform: scale(1.1);
  }
}
.cid-tYeETl6TUm .col-text {
  display: flex;
  align-items: flex-start;
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .col-text {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 767px) {
  .cid-tYeETl6TUm .col-text {
    width: 100%;
  }
}
.cid-tYeETl6TUm .date-wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}
.cid-tYeETl6TUm .day-text {
  color: #e3ebf3;
}
.cid-tYeETl6TUm .month-text {
  color: #e3ebf3;
}
.cid-tYeETl6TUm .year-text {
  color: #e3ebf3;
}
.cid-tYeETl6TUm .card-title {
  color: #6c7a88;
}
.cid-tYeETl6TUm .mbr-text {
  margin-top: 12px;
  color: #e3ebf3;
}
.cid-tYeETl6TUm .mbr-section-btn {
  margin-top: 16px;
}
@media (max-width: 767px) {
  .cid-tYeETl6TUm .mbr-section-btn {
    margin-top: 12px;
  }
}
.cid-tYeETl6TUm .col-img {
  width: calc(50% - 10px);
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .col-img {
    width: 100%;
    order: 2;
  }
}
@media (max-width: 767px) {
  .cid-tYeETl6TUm .col-img {
    width: 100%;
  }
}
.cid-tYeETl6TUm .image-wrapper {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .image-wrapper {
    border-radius: 12px;
  }
}
.cid-tYeETl6TUm .image-wrapper img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s all;
}
@media (min-width: 1200px) {
  .cid-tYeETl6TUm .image-wrapper img {
    aspect-ratio: 0.68577982;
  }
}
@media (max-width: 1199px) {
  .cid-tYeETl6TUm .image-wrapper img {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .cid-tYeETl6TUm .image-wrapper img {
    height: 220px;
  }
}
.cid-tYf3FK5ECn {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #c4effe;
}
.cid-tYf3FK5ECn .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-tYf3FK5ECn .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tYf3FK5ECn .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tYf3FK5ECn .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-tYf3FK5ECn .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #ffffff, #d1b081);
}
.cid-tYf3FK5ECn .icon-focus {
  display: none;
}
.cid-tYf3FK5ECn .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: right;
  display: none;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-tYf3FK5ECn ul {
  font-size: 0;
}
.cid-tYf3FK5ECn .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-tYf3FK5ECn .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
}
.cid-tYf3FK5ECn .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #fa7e26, #faae26);
}
.cid-tYf3FK5ECn .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-tYf3FK5ECn .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-tYf3FK5ECn .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-tYf3FK5ECn .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-tYf3FK5ECn .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #fa7e26, #faae26);
  display: inline-block;
}
.cid-tYf3FK5ECn .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-tYf3FK5ECn .btn:hover {
  background: transparent !important;
}
.cid-tYf3FK5ECn .btn:hover:before {
  background: transparent !important;
}
.cid-tYf3FK5ECn .btn:before {
  background-color: transparent !important;
}
.cid-tYf3FK5ECn .btn:focus {
  box-shadow: none;
}
.cid-tYfQmSHqN3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-tYfQmSHqN3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYfQmSHqN3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYfQmSHqN3 .container-fluid {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .container-fluid {
    padding: 0;
  }
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .container {
    padding: 0 16px;
  }
}
.cid-tYfQmSHqN3 .row {
  justify-content: center;
  margin: 0 20px;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .row {
    margin: 0 10px;
  }
}
.cid-tYfQmSHqN3 .row .item {
  padding: 0;
}
.cid-tYfQmSHqN3 .title-wrapper {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .title-wrapper {
    margin-bottom: 20px;
  }
}
.cid-tYfQmSHqN3 .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tYfQmSHqN3 .panel-group {
  border: 1px solid #fdfcfc;
  border-radius: 20px;
  overflow: hidden;
}
.cid-tYfQmSHqN3 .panel-group .card {
  border-top: 1px solid #4a5357;
  border-radius: 0 !important;
}
.cid-tYfQmSHqN3 .panel-group .card:first-child {
  border-top: none;
}
.cid-tYfQmSHqN3 .panel-group .card:last-child {
  border-bottom: none;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title {
    padding: 20px 10px;
  }
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title:not(.collapsed) {
  background-color: #d1b081;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  transform: rotate(-180deg);
  color: #d1b081;
  background-color: #000000;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title:not(.collapsed) .panel-title-edit {
  color: #000000;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
}
.cid-tYfQmSHqN3 .panel-group .card .card-header .panel-title .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #000000;
  background-color: #d1b081;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}
.cid-tYfQmSHqN3 .panel-group .card .panel-collapse .panel-body {
  padding: 30px;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .panel-group .card .panel-collapse .panel-body {
    padding: 20px 10px;
  }
}
.cid-tYfQmSHqN3 .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 0;
}
.cid-tYfQmSHqN3 .image-wrapper {
  height: 100%;
}
.cid-tYfQmSHqN3 .image-wrapper img {
  height: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-tYfQmSHqN3 .image-wrapper img {
    height: 350px;
  }
}
.cid-tYfQmSHqN3 .mbr-section-title {
  color: #fdfcfc;
}
.cid-tYfQmSHqN3 .panel-title-edit {
  color: #fdfcfc;
}
.cid-tYfQmSHqN3 .panel-text {
  color: #fdfcfc;
}
.cid-tYe9Gp28pz {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  background-color: #232323;
}
.cid-tYe9Gp28pz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cid-tYe9Gp28pz ul li {
  padding: 1rem 0;
}
.cid-tYe9Gp28pz ul li:hover {
  color: #fa7e26;
}
.cid-tYe9Gp28pz .socicon {
  color: #fff;
  font-size: 1.5rem;
}
.cid-tYe9Gp28pz .mbr-iconfont {
  margin-right: 1em;
  display: inline-block;
  vertical-align: bottom;
}
.cid-tYe9Gp28pz .google-map {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  position: relative;
}
.cid-tYe9Gp28pz .map {
  padding: 0;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tYe9Gp28pz .map iframe {
  -webkit-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .cid-tYe9Gp28pz .map {
    height: auto;
  }
}
.cid-tYe9Gp28pz .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-tYe9Gp28pz .social-list .soc-item {
  padding: 0;
  margin: 2rem 2rem 0 0;
  display: inline-block;
}
.cid-tYe9Gp28pz .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-tYe9Gp28pz .social-list a:hover {
  opacity: 1;
}
.cid-tYe9Gp28pz .row-element,
.cid-tYe9Gp28pz .image-element {
  padding: 0;
}
.cid-tYe9Gp28pz .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-tYe9Gp28pz .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #fa7e26, #faae26);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-tYe9Gp28pz .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-tYe9Gp28pz .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tYe9Gp28pz .text-content {
    padding: 2rem 1rem;
  }
  .cid-tYe9Gp28pz .underline .line {
    height: 2px;
  }
  .cid-tYe9Gp28pz .mbr-title,
  .cid-tYe9Gp28pz .underline,
  .cid-tYe9Gp28pz .mbr-text,
  .cid-tYe9Gp28pz .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-tYe9Gp28pz .mbr-title,
.cid-tYe9Gp28pz .underline {
  color: #ffffff;
}
.cid-tYe9Gp28pz .mbr-text,
.cid-tYe9Gp28pz .mbr-section-btn {
  color: #ffffff;
}
.cid-tYe9Gp28pz mbr-list LI {
  color: #ffffff;
}
.cid-tYe9Gp28pz mbr-list {
  text-align: center;
}
.cid-tYe9Gp28pz .mbr-list,
.cid-tYe9Gp28pz .social-list mbr-list {
  color: #ffffff;
}
.cid-tYe9Gp28pz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYe9Gp28pz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ty25lXMXpm {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-ty25lXMXpm .mbr-text {
  color: #e3ebf3;
}
